header {
    display: flex;
    justify-content: center;
    border-radius: 0;
    width: 100%;
    height: auto;

    .container-header {
        display: flex;
        width: 100%;
        height: auto;
        background: $color_white;

        .titre-fleche {
            position: relative;
            display: flex;
            width: 100%;
            height: auto;
            align-items: center;
            justify-content: center;
            font-family: $police_logo-titre;

            a {
                position: absolute;
                left: 10px;
            }

            .fleche-retour {
                color: $color_black;
            }

        }

    }

}

