// a garder
// * { background: rgb(0 0 100/0.3) !important; } 

@media screen and (min-width:320px) and (max-width:375px){
    footer{
        .title{
            font-size: 40px;
        }

        .taille{
            font-size: 19px;
        }
    }
}

@media screen and (min-width:320px) and (max-width:768px) {
    main .responsive {
        width: 98%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .menu-container{
            width: 98%;
            display: flex;
           flex-direction: column;
        }
    }

    main{
        .coeur {
            width: 8%;
            padding-right: 10px;
        }
    }
}

@media screen and (min-width:769px) and (max-width:1920px) {
    main .responsive {
        display: flex;
        flex-direction: row;
        width: 93%;

        .menu-container {
            width: 32%;

            .grid-menu {
                width: 95%;

                .card-entree {
                    width: 90%;
                }
            }
        }
    }

    main {
        .coeur {
            width: 8%;
            padding-right: 10px;
        }
    }
}