@import'../utils/vars';
@import'../utils/typographie';
@import'../loader/loader.scss';
<<<<<<< HEAD
@import'../scss/headers';
@import'../scss/page-acceuil';
@import'../utils/button';
@import'../scss/footers';
=======
@import'../scss/header';
@import'../scss/page-acceuil';
@import'../utils/button';
@import'../scss/footer';
>>>>>>> d03f91ce689b448e561025b7a9e9b03c22baa58d

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background: $color_background;
}

.main-content {
    max-width: 1400px;
    margin: $margin-main_content;
}