// @media screen and (min-width:320px) and (max-width:425px){
//     body{
//         .main-content{
//             .__overlay-loader{
//                 .__container-loader{
//                     .--loader-placement{
//                         justify-content: flex-start !important;
//                         align-items: flex-start !important;
//                         padding-left: 80px ;
//                         .cocotte{
//                             width: 300px !important;
//                         }
//                     }
//                     .__container-table-text{
//                         .--text{
//                             font-size: 20px !important;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

@media screen and (min-width:100px){
    body .main-content .__overlay-loader .__container-loader .__container-table-text .--text{
        font-size: 25px !important;
    }

    body{
        .main-content{
            .__overlay-loader{
                .__container-loader{
                    .--loader-placement{
                        width: 100% !important;
                        .cocotte{
                            width: 40% !important;
                        }
                    }
                }
            }
        }
    }
}