// debut media screen and (max-width:1400px) and (min-width:992px) header

// @media screen and (max-width:2560px) and (min-width:1400px) {



    .__container-selection-button {
        display: flex;

        .--title-2 {
            position: absolute;
            display: none;
        }

        .__container-button {
            flex-direction: row;
        }
    }

    .__container-vignette-menu {
        height: auto;
        width: 100%;

        
        
        .--margin-title-2{
            margin-top: 66px;
        }
        
        .__container-grid-card {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(2, 300px);
            grid-template-rows: repeat(2, 300px);
            
        }
        
        .__container-card {
            width: 275px;
            height: 300px;
            
        }
        
        
        
        
    }
    
    .__container-vignette-menu .__container-grid-card{
        margin-bottom: 30px;
    }
    






// header
@media screen and (max-width:991px) and (min-width:768px) {
    header {

        .container__header {
            .--title {
                font-size: 35px;
            }
        }

    }

}

.__container-form {

    form {

        i {
            font-size: 40px;
            top: 20px;

        }

        input {
            height: 40px;
            width: 25%;

        }
    }

}


@media screen and (max-width:375px){
    .container__header{
        width: 105%;
    }

    main{
        width: 105%;
    }

    .__container-selection-button{
        width: 105%;
    }

    .__container-vignette-menu{
        width: 105%;
    }

    footer{
        width: 105%;
    }
}
@media screen and (max-width:320px){
    .container__header{
        width: 123%;
    }
    header{

        .__container-form{
            width: 123%;
        }
    }

    main{
        width: 123%;
    }

    .__container-selection-button{
        width: 123%;
    }

    .__container-vignette-menu{
        width: 123%;
    }

    footer{
        width: 123%;
    }
}

// header
@media screen and (max-width:767px) and (min-width:319px) {

    header {

        .container__header {
            .--title {
                font-size: 30px;
            }
        }

    }

    .__container-form {


        form {

            i {
                top: 20px;
                left: -5px;
            }

            input {
                height: 47px;
                width: 29%;
                font-size: 17px;

            }
        }

    }
}

@media screen and (max-width:419px){
    header .__container-form form input{
        width: 200px;
    }
}