// debut media screen and (max-width:1400px) and (min-width:992px) header

@media screen and (max-width:2560px) and (min-width:1400px) {

    // ohmyfood placer a gauche
    header {
        .container__header {
            height: 150px;
            width: 40%;
            border-radius: 0 30px 30px 30px;

            .--title {
                display: flex;
                font-size: 70px;
                padding-left: 70px;
            }
        }

        .__container-form {
            display: flex;
            justify-content: flex-end;
            margin-top: -65px;

            form {
                margin-top: 50px;

                i {
                    font-size: 40px;
                    margin-top: -134px;
                    padding-right: 10px;

                }

                input {
                    height: 30px;
                    font-size: 40px;
                    margin-top: -130px;
                    font-weight: 600
                }
            }
        }
    }

    .__container-selection-button {
        display: flex;

        .--title-2 {
            position: absolute;
            display: none;
        }

        .__container-button {
            flex-direction: row;
        }
    }

    .__container-vignette-menu {
        height: auto;
        width: 100%;

        
        
        .--margin-title-2{
            margin-top: 66px;
        }
        
        .__container-grid-card {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(2, 300px);
            grid-template-rows: repeat(2, 300px);
            
        }
        
        .__container-card {
            width: 275px;
            height: 300px;
            
        }
        
        
        
        
    }
    
    .__container-vignette-menu .__container-grid-card{
        margin-bottom: 30px;
    }
    


}

// header
@media screen and (max-width:991px) and (min-width:768px) {
    header {

        .container__header {
            .--title {
                font-size: 35px;
            }
        }

    }

}

.__container-form {

    form {

        i {
            font-size: 40px;
            top: 20px;

        }

        input {
            height: 40px;
            width: 25%;

        }
    }

}

// header
@media screen and (max-width:767px) and (min-width:319px) {

    header {

        .container__header {
            .--title {
                font-size: 30px;
            }
        }

    }

    .__container-form {


        form {

            i {
                top: 20px;
                left: -5px;
            }

            input {
                height: 47px;
                width: 29%;
                font-size: 17px;

            }
        }

    }
}

@media screen and (max-width:419px){
    header .__container-form form input{
        width: 200px;
    }
}