// delcaration des fichier que l'on a besoin
@import'../../utils/vars';
@import'../../utils/typographie';
@import'../menu-2/headers';
@import'../../utils/button';
@import'../menu-2/footers';
@import '../menu-1/responsive/responsive-menu-1.scss';

.background-image {
    width: 100%;
    height: 500px;

    background-size: cover;
    background-position: center;
    object-fit: cover;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: $color_background-grey;
    border-radius: 20px 20px 0 0;
    margin-top: -20px;

    .header-main {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .title {
        text-align: center;
        font-family: $police_logo-titre;
        width: 100%;
    }

    .coeur {
        position: relative;
        width: 3%;
        height: 100%;

        i {
            position: absolute;
            font-size: 22px;
            margin-top: -10px;
        }
    }

    .coeur .fas {
        cursor: pointer;
        position: absolute;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(to bottom, #9356DC 0%, #FF79DA 53%, #9356DC 100%);
        opacity: 0;
        z-index: 0;
        transition: 600ms;
    }

    .coeur .far {
        position: absolute;
    }

    .coeur .far:hover {
        z-index: -1;
    }

    .coeur .fas:hover {
        opacity: 1;
        transform: scale(1);
        z-index: 1;
    }

    .menu-container {
        width: 98%;
        height: auto;
        padding-left: 20px;
        background: $color_background-grey;

        .text-h3 {
            font-family: $police_texte;
            color: $color_grey-p;
            font-weight: 400;
            border-bottom: 3px solid #99e2d0;
            width: 50px;
        }

        // animation grid menu progessif

        .grid-menu {
            animation: fadein 2s;
            -moz-animation: fadein 2s;
            /* Firefox */
            -webkit-animation: fadein 2s;
            /* Safari et Chrome */
            -o-animation: fadein 2s;
            /* Opera */

            @keyframes fadein {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            @-webkit-keyframes fadein {

                /* sur Safari et Chrome */
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }
        }

        .grid-menu {
            display: flex;
            width: 74%;
            flex-direction: column;
            height: auto;
            padding: 10px;
            gap: 20px;

            .card-entree {
                display: flex;
                width: 100%;
                height: 59px;
                max-height: 250px;
                max-width: 375px;
                background: $color_white;
                border-radius: 20px;
                transition: all 0.36s;
                overflow: hidden;
                cursor: pointer;

                .__typo {
                    padding: 10px;
                    width: 275px;
                }

                // overflow permet de d'aligner le texte et d'insérer les pointiller pendant la transition.
                .overflow {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .desc {
                    font-family: $police_texte;
                    color: $color_black;
                    font-weight: 600;
                }

                .text {
                    font-family: $police_texte;
                    color: $color_grey-p;
                    font-weight: 400;
                }

                .prix {
                    font-family: $police_texte;
                    font-weight: 600;
                    color: $color_black;
                    font-size: 16px;
                    width: 100%;
                    text-align: center;
                }

                // __container-check permet de réaliser la transition de droite vers la gauche grace au margin-right -40% ainsi que la transition.
                .container-check {
                    display: flex;
                    width: 255px;
                    height: 59px;
                    align-items: center;
                    margin-right: -40%;
                    transition: margin-right 0.5s ease-in-out;
                }

                // --check est l'icon tous ce qui es stipuler sont les parametre de configuration ainsqi que le temps en ms du margin-right.
                .check {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    color: $color_background-grey;
                    background: $color_tertiare;
                    border-radius: 0 20px 20px 0;
                    transition: margin-right 500ms;
                }
            }
        }

        // annimation card
        .card-entree:hover {
            transform: scale(1.05);
            box-shadow: 8px 8px 15px -3px rgba(0, 0, 0, 0.81);
            transition: all 0.36s;
        }

        // --card-entree:hover mert de réaliser la suite de la transition. 
        .card-entree:hover .container-check {
            margin-right: 0;
        }

        // --card-entree:hover .icon grace au transform rotate cela permet que l'icon réalise une rotation de 360° ainsi que le 1300ms permet de d'indiqué le temps pour réaliser la rotation.
        .card-entree:hover .icon {
            transform: rotate(360deg);
            transition: transform 1300ms;
        }
    }
}