// couleur _ primaire violet 
$color_primaire:#9356dc;
// couleur _ secondaire rose
$color_secondaire:#ff79da; 
// couleur _ tertiaire vert
$color_tertiare:#99e2d0; 

// $color_background
$color_background:#dadada;

$color_background-grey:#f7f7f7;

// color grey f7f7f7
$color_grey-p:#7e7e7e;

// color white
$color_white:#fff;

// color black
$color_black:#000;

// color-text de vignette-new
$color-text-new:#008766;
// conteneur max-width 1400px max.

$taille_ecran: 1400px;
$margin-main_content: 0 auto;