@media screen and (max-width:2560px) and (min-width:1025px) {
    main {
        .__menu-container {
            .__grid-menu {
                width: 89%;
            }
        }
    }
}

@media screen and (max-width:1024px) and (min-width:768px) {

    .main-content{
        display: block;
        height: auto;
    }
    main {
        .__responsive {
            display: flex;
            justify-content: space-between;
            width: 80%;
        }

        .__menu-container{

            .--text-h3{
                padding-top: 25px;
            }

            .__grid-menu{
                width: 292px;

                .--card-entree{
                    .__typo{
                        width: 200px;
                    }
                }

            }
           }
    }
}

// ipad air 820px plus reductiopn ecran a 769px
@media screen and (max-width:820px) and (min-width:769px){
    main {

        .__menu-container{

            .--text-h3{
                padding-top: 25px;
            }

            .__grid-menu{
                width: 230px;

                .--card-entree{
                    .__typo{
                        width: 180px;
                    }
                }

            }
           }
    }

}

@media screen and (max-width:768px){
    .main-content{
        display: block;
    }

    .__coeur i {
        margin-left: -17px;
    }

    main {

        .__menu-container{
            width: 90%;
            .--text-h3{
                padding-top: 25px;
            }

            .__grid-menu{
                width: 213px;

                .--card-entree{
                    .__typo{
                        width: 156px;
                    }
                }

            }
           }
    }
}

@media screen and (max-width:425px) and (min-width:375px){
    main {

        .__responsive{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .__menu-container{
            width: 73%;
            .--text-h3{
                padding-top: 25px;
            }

            .__grid-menu{
                width: 263px;

                .--card-entree{
                    .__typo{
                        width: 156px;
                    }
                }

            }
        }
    }
}


// @media screen and (max-width:1440px) and (min-width:1024px){
//     main{
//         .__responsive{
//            display: flex;
//            justify-content: space-between;
//            width: 84%;
//        }

//        .--text-h3{
//         display: flex;
//         justify-content: space-between;
//         width: 100%;
//         padding-top: 20px;
//        }

//        .--title{
//         padding-top: 10px;
//        }

//     }

// }

// @media screen and (max-width:1024px){
// main{
//     // .__responsive{
//     //     width: 100%;

//     // }
//     .__menu-container{
//         width: 100%;
//         padding-left: 0;

//         .__grid-menu{
//             width: 70%;

//             .--card-entree{
//                 width: 95%;
//                 .--prix{
//                     width: 30%;
//                     padding-right: 5px;

//                 }

//                 .__container-check{
//                     margin-right: none;
//                 }
//             }
//         }
//     }
// }
// }





// debut 320px
@media screen and (max-width:320px) {
    footer {
        .--title {
            font-size: 40px;
        }

        .--sous-desc {
            font-size: 20px;
        }

        .--sous-desc-2 {
            font-size: 20px;
        }

        .--sous-desc-3 {
            font-size: 20px;
        }

        .--sous-desc-4 {
            font-size: 20px;
        }
    }
}