*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: #dadada;
  display: block;
  position: relative;
}

.main-content {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  border-radius: 0;
  width: 100%;
  height: auto;
}
header .__container-header {
  display: flex;
  width: 100%;
  height: auto;
  background: #fff;
}
header .__container-header .--titre-fleche {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  font-family: "Shrikhand", cursive;
}
header .__container-header .--titre-fleche a {
  position: absolute;
  left: 10px;
}
header .__container-header .--titre-fleche .--fleche-retour {
  color: #000;
}

.__commander {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f7f7;
}
.__commander .__container-button {
  position: relative;
  display: flex;
  height: 60px;
  justify-content: center;
  margin-top: 1%;
}
.__commander .__container-button .--restaurant {
  outline: none;
  border: none;
  color: #fff;
  box-shadow: 1px 8px 5px 0px rgba(0, 0, 20, 0.55);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  align-items: center;
  cursor: pointer;
  width: 250px;
  border-radius: 80px 80px 80px 80px;
  background: linear-gradient(135deg, #FF79DA 0%, #1C6EA4 250%, #9356DC 100%);
  transition: all 0.25s;
}
.__commander .__container-button .--restaurant:hover {
  background: linear-gradient(135deg, #FF79DA 100%, #1C6EA4 250%, #9356DC 140%);
  box-shadow: 1px 8px 27px 2px rgba(0, 0, 0, 0.45);
  transition: all 0.36s;
}
.__commander .__container-button .--restaurant:active {
  position: relative;
  top: 8px;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 20, 0.55);
}

footer {
  width: 100%;
  height: auto;
  background: #353535;
}
footer .--title {
  font-size: 50px;
  letter-spacing: 1px;
  padding-left: 50px;
  padding-top: 30px;
  font-family: "Shrikhand", cursive;
  color: #fff;
}
footer .--sous-desc {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  padding-left: 20px;
}
footer .fa-utensils {
  padding-left: 60px;
  font-size: 25px;
  color: #fff;
}
footer .fa-handshake {
  padding-left: 65px;
  font-size: 25px;
  transform: rotate(-45deg);
  margin-top: -5px;
  color: #fff;
}
footer .--sous-desc-2 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  padding-left: 100px;
}
footer .--sous-desc-3 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  padding-left: 60px;
}
footer .--sous-desc-4 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  padding-left: 60px;
  list-style: none;
  text-decoration: none;
}

@media screen and (min-width: 320px) {
  .main-content {
    width: 100%;
  }
  main .__coeur {
    width: 10%;
  }
  main .__responsive {
    width: 100%;
  }
  main .__menu-container {
    width: 60%;
  }
  main .__menu-container .__grid-menu {
    width: 129%;
  }
  main .__menu-container .__grid-menu .--card-entree .--prix {
    margin-right: 11px;
    width: 31%;
  }
  footer .--title {
    padding-left: 25px;
  }
  footer .--sous-desc {
    font-size: 20px;
  }
}
@media screen and (min-width: 425px) {
  main .__menu-container .__grid-menu .--card-entree .--prix {
    margin-right: 25px;
  }
}
@media screen and (min-width: 768px) {
  main .__responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .__responsive .__menu-container .__grid-menu .--card-entree .--prix {
    margin-right: 49px;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  main .__responsive {
    flex-direction: row;
    width: 100%;
  }
  main .__responsive .__menu-container {
    width: 30%;
  }
  main .__responsive .__menu-container .__grid-menu {
    width: 90%;
  }
  main .__responsive .__menu-container .__grid-menu .--card-entree .__typo {
    width: 213px;
  }
  main .__responsive .__menu-container .__grid-menu .--card-entree .--prix {
    margin-right: 31px;
  }
}
@media screen and (min-width: 1439px) {
  main .__menu-container {
    width: 50%;
  }
  main .__menu-container .__grid-menu .--card-entree {
    width: 89%;
  }
}
@media screen and (min-width: 1440px) {
  main .__responsive {
    flex-direction: row;
    width: 100%;
  }
  main .__responsive .__menu-container {
    width: 60%;
  }
  main .__responsive .__menu-container .__grid-menu {
    width: 71%;
  }
  main .__responsive .__menu-container .__grid-menu .--card-entree {
    width: 90%;
  }
}
.__background-image-4 {
  width: 100%;
  height: 500px;
  background-image: url(/sass/styles/images/delice-des-sens-4.jpg);
  background-size: cover;
  background-position: center;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f7f7f7;
  border-radius: 20px 20px 0 0;
  margin-top: -20px;
}
main .__header-main {
  display: flex;
  width: 100%;
  align-items: center;
}
main .--title {
  text-align: center;
  font-family: "Shrikhand", cursive;
  width: 100%;
}
main .__coeur {
  position: relative;
  width: 3%;
  height: 100%;
}
main .__coeur i {
  position: absolute;
  font-size: 22px;
  margin-top: -10px;
}
main .__coeur .fas {
  cursor: pointer;
  position: absolute;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to bottom, #9356DC 0%, #FF79DA 53%, #9356DC 100%);
  opacity: 0;
  z-index: 0;
  transition: 600ms;
}
main .__coeur .far {
  position: absolute;
  padding-right: -10px;
}
main .__coeur .far:hover {
  z-index: -1;
}
main .__coeur .fas:hover {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}
main .__menu-container {
  width: 98%;
  height: auto;
  padding-left: 20px;
  background: #f7f7f7;
}
main .__menu-container .--text-h3 {
  font-family: "Roboto", sans-serif;
  color: #7e7e7e;
  font-weight: 400;
  border-bottom: 3px solid #99e2d0;
  width: 50px;
}
main .--text-menu {
  display: flex;
  width: 97%;
  justify-content: flex-start;
  padding-top: 20px;
}
main .--text-menu .--text {
  font-family: "Roboto", sans-serif;
  color: #7e7e7e;
  font-weight: 400;
  border-bottom: 3px solid #99e2d0;
  width: 50px;
}
main .--text-menu-2 {
  display: flex;
  width: 74%;
  justify-content: flex-start;
  padding: 10px;
}
main .--text-menu-2 .--text {
  font-family: "Roboto", sans-serif;
  color: #7e7e7e;
  font-weight: 400;
  border-bottom: 3px solid #99e2d0;
  width: 50px;
}
main .--text-menu-3 {
  display: flex;
  width: 89%;
  justify-content: flex-start;
  padding: 10px;
  padding-left: 15px;
}
main .--text-menu-3 .--text {
  font-family: "Roboto", sans-serif;
  color: #7e7e7e;
  font-weight: 400;
  border-bottom: 3px solid #99e2d0;
  width: 50px;
}
main .__menu-container {
  width: 100%;
  height: auto;
  background: #f7f7f7;
}
main .__menu-container .__grid-menu {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari et Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main .__menu-container .__grid-menu {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px;
  gap: 20px;
}
main .__menu-container .__grid-menu .--card-entree {
  display: flex;
  width: 100%;
  height: 59px;
  max-height: 250px;
  max-width: 375px;
  background: #fff;
  border-radius: 20px;
  transition: all 0.36s;
  overflow: hidden;
  cursor: pointer;
}
main .__menu-container .__grid-menu .--card-entree .__typo {
  padding: 10px;
  width: 275px;
}
main .__menu-container .__grid-menu .--card-entree .overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .__menu-container .__grid-menu .--card-entree .--desc {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 600;
}
main .__menu-container .__grid-menu .--card-entree .--text {
  font-family: "Roboto", sans-serif;
  color: #7e7e7e;
  font-weight: 400;
}
main .__menu-container .__grid-menu .--card-entree .--prix {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 16px;
  width: 100%;
  text-align: center;
}
main .__menu-container .__grid-menu .--card-entree .__container-check {
  display: flex;
  width: 180px;
  height: 59px;
  align-items: center;
  margin-right: -40%;
  transition: margin-right 0.5s ease-in-out;
}
main .__menu-container .__grid-menu .--card-entree .--check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #f7f7f7;
  background: #99e2d0;
  border-radius: 0 20px 20px 0;
  transition: margin-right 500ms;
}
main .__menu-container .--card-entree:hover {
  transform: scale(1.05);
  box-shadow: 8px 8px 15px -3px rgba(0, 0, 0, 0.81);
  transition: all 0.36s;
}
main .__menu-container .--card-entree:hover .__container-check {
  margin-right: 0;
}
main .__menu-container .--card-entree:hover .icon {
  transform: rotate(360deg);
  transition: transform 1300ms;
}

/*# sourceMappingURL=menu-4.css.map */
