// * { background: rgb(0 0 100/0.3) !important; }



main {
    width: 100%;
    height: 100%;
    background: $color_white;
    padding: 0; 
    margin: 0;
    box-sizing: border-box;

    .__container-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        gap: 20px;

        .--title-2 {
            justify-content: center;
            text-align: center;
            font-family: $police_texte;
            font-weight: 700;
            font-size: 50px;
            top: 5%;
        }

    }

    .__container-main-p {
        display: flex;
        width: 100%;
        height: 100%;
        text-align: center;
        justify-content: center;

        .--decouvrez {
            font-family: $police_texte;
            font-weight: 400;
            font-size: 30px;
            color: $color_black;
            width: 100%;
        }
    }

}

.__container-fonctionne{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px ;
    width: 100%;
    height: 100%;
    background: white;
    .--title-2{
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }
}

.__container-grid-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.__container-vignette-menu {
    width: 100%;
    height: 100%;
    display: flex;
    background: $color_white;
    padding: 25px 0;
    gap: 30px;
    flex-direction: column;
    align-items: center;

    

    .--title-2 {
        font-family: $police_texte;
        font-weight: 700;
        font-size: 50px;
    }

    .--container-nouveau {
        position: absolute;
        right: 15px;
        top: 15px;
        display: flex;
        width: 20%;
        height: 20px;
        padding: 5px 8px;
        background: $color_tertiare;

        .--vignette-new {
            color: $color-text-new;
            font-family: $police_texte;
            font-size: 15px;
            font-weight: 600;
        }

    }

    .__container-card {
        position: relative;
        width: 300px;
        height: auto;
        justify-content: center;
        padding: 5px;
        background: $color_white;
        border-radius: 20px;
        transition: all 0.34s;
        padding-top: 10px;

        



        a {
            height: 100%;
        }

        .--img-content img {
            width: 100%;
            height: 100%;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
        }

        // taille de l'image 2 car photo en transversale donc trop grand par rapport aux autres.
       
        .--taille-img-content-2 img{
            height: 200px;
        }

        .--desc {
            position: relative;
            width: 100%;
            display: flex;
            // height: 100%;
            align-items: center;

            .--title-2 {
                font-size: 25px;
                padding: 5px 0;
                text-align: left;
            }

            .--decouvrez {
                font-family: $police_texte;
                font-size: 20px;
                font-weight: 500;
                text-align: left;
                color: $color_grey-p;
            }

            .--desc-container{
                width: 80%;
            }
            
            
            .--desc-icons {
                position: relative;
            }
            
            .--desc-icons input {
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0;
                z-index: 10;
                font-size: 22px;
                cursor: pointer;
            }
            
            
            .mouvement-heart{
                padding-left: 30px;
            }
            
            .heart {
                font-size: 22px;
                
                
            }
            .heart .fas{
                cursor: pointer;
                position: absolute;
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                background-image:linear-gradient(to bottom, #9356DC 0%, #FF79DA 53%, #9356DC 100%); 
                opacity: 0;
                z-index: 0;
                transition: 600ms;
            }
            
            .heart .far{
                position: absolute;
                
                padding-right: -10px;
            }
            
            .heart .far:hover {  
                 
                z-index: -1;
              }
              
              .heart .fas:hover {  
                opacity: 1;
                transform: scale(1);
                z-index: 1;  
              }
        }

        
           
        


    }

    .__container-card:hover {
        transform: scale(1.05);
        box-shadow: 1px 8px 27px 2px rgba(0, 0, 0, 0.45);
    }



}