@import'utils/vars';
@import'typographie';
@import'styles.scss';
@import'header.scss';
@import'footer.scss';


.main-content{
    background-image: url(/sass/styles/images/jay-wennington-restaurant-1.jpg);
    background-size: cover;
    background-position: top;
    height: 500px;
    width: 100%;

    .container-main{
        display: flex;
        height: 100%;
        width: 100%;
        border-radius: 40px 40px 0 0;
        margin-top: -40px;
        .--title{
            text-align: center;
            font-size: 27px;
            padding-left: 20px;
            font-family: $police_logo-titre
        }
        
        .vide{
            padding-top: 7px;
            padding-left: 40px;
            font-size: 25px;
            color: $color_black;
        }
    
        
    }
    
    
}

