@import'utils/vars';
@import'typographie';
@import'loader/loader';
@import'header.scss';
@import'page-acceuil';
@import'button';
@import'footer';
@import'utils/responsives';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background: $color_background;
    display: block;
    position: relative;
    

}

.main-content {
    max-width: $taille_ecran;
    margin: $margin-main_content;
}


