@import'utils/vars';
@import'typographie';
@import'loader/loader';
@import'header.scss';
@import'page-acceuil';
@import'button';
@import'footer';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background: $color_background;
}

.main-content {
    max-width: 1400px;
    margin: $margin-main_content;
}


