header {
  width: 100%;
  height: 100%;
}
header .container__header {
  height: auto;
  border: 2px solid rgba(0, 0, 0, 0.1725490196);
  box-shadow: 7px 7px 5px -2px rgba(0, 0, 0, 0.72);
  background: #fff;
}
header .container__header .--title {
  padding: 20px 0;
  text-align: center;
  font-family: "Shrikhand", cursive;
}
header .__container-form {
  width: 100%;
  margin-top: 10px;
}
header .__container-form form {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background: #dadada;
}
header .__container-form form i {
  position: relative;
  top: 23px;
  left: 60px;
}
header .__container-form form input {
  width: 20%;
  height: 25px;
  text-align: center;
  border: 1px none #000000;
  border-radius: 10px 10px 10px 10px;
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 20px;
}
header .__container-form form input:hover {
  color: #000;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.66);
}

main {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 25px 0;
}
main .__container-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 20px;
}
main .__container-main .--reserver {
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 50px;
  top: 5%;
}
main .__container-main-p {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
}
main .__container-main-p .--decouvrez {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #000;
  width: 45%;
}

.__container-button {
  position: relative;
  display: flex;
  height: 60px;
  justify-content: center;
  margin-top: 1%;
}
.__container-button .--restaurant {
  outline: none;
  border: none;
  color: #fff;
  box-shadow: 1px 8px 5px 0px rgba(0, 0, 20, 0.55);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  align-items: center;
  cursor: pointer;
  width: 20%;
  border-radius: 80px 80px 80px 80px;
  background: linear-gradient(135deg, #FF79DA 0%, #1C6EA4 250%, #9356DC 100%);
}
.__container-button .--restaurant:active {
  position: relative;
  top: 8px;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 20, 0.55);
}

@media screen and (max-width: 1400px) and (min-width: 992px) {
  header form i {
    font-size: 30px;
    top: 18px;
    left: -5px;
  }
  header form input {
    height: 30px;
    font-size: 40px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  header .container__header .--title {
    font-size: 50px;
  }
  header form i {
    font-size: 40px;
    top: 20px;
    left: -5px;
  }
  header form input {
    height: 40px;
    width: 25%;
    font-size: 50px;
  }
}
@media screen and (max-width: 767px) and (min-width: 319px) {
  header .container__header .--title {
    font-size: 65px;
  }
  header form i {
    font-size: 50px;
    top: 20px;
    left: -5px;
  }
  header form input {
    height: 47px;
    width: 29%;
    font-size: 57px;
  }
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: #dadada;
  display: block;
  position: relative;
}

.main-content {
  max-width: 1400px;
  margin: 0 auto;
}

/*# sourceMappingURL=styles.css.map */
